.swiper-container {
  padding-bottom: 0 !important;
  .swiper-slide {
    img {
      display: block;
    }
  }
  .swiper-pagination {
    bottom: 0;
    .swiper-pagination-handle {
      margin: 0 !important;
      font-size: 0;
      line-height: 0;
    }
    .swiper-pagination-bullet {
      width: 0.05rem;
      height: 0.05rem;
      background: #DCDCDC;
      opacity: 1;
      border: none !important;
      margin: 0 !important;
      border-radius: 30%;
      bottom: 0;
      &.swiper-pagination-bullet-active {
        width: 0.12rem;
        background: #F26549;
      }
    }
  }
}
