<div class="header">
  <div class="title">科学馆简介</div>
  <div class="nav">
    <b></b><b></b><b></b>
  </div>
</div>
<!--header end-->

<div class="container">

  <div class="panelbox">
    <div class="text-details">

      <p><img src="/assets/images/pic_about.jpg"/></p>
      <p>　　为确保北京市科学技术协会第九次代表大会顺利进行，请全体代表、列席人员和工作人员注意以下事项：</p>

      <p>　　一、报到<br/>
        　　1、请持会议通知，准时到指定地点报到。<br/>
        　　2、本次会议住地为北京会议中心，地址为朝阳区来广营西路88号。会议住宿房间在报到时安排。<br/>
        　　3、会议不接待会外人员，不安排司机、随员住宿。</p>

      <p>　　二、证件使用<br/>
        　　4、代表凭代表证、特邀代表凭特邀代表证、工作人员凭工作证，记者凭记者证，按规定进出住地和会场。<br/>
        　　5、与会人员请将证件佩带在胸前，妥善保管，不得转借。如有遗失，请立即告知会务组。<br/>
        　　6、参会人员车辆听从车管人员调度，在指定区域停放。</p>

      <p>　　一、报到<br/>
        　　7、请持会议通知，准时到指定地点报到。<br/>
        　　8、本次会议住地为北京会议中心，地址为朝阳区来广营西路88号。会议住宿房间在报到时安排。<br/>
        　　9、会议不接待会外人员，不安排司机、随员住宿。</p>

      <p>　　二、证件使用<br/>
        　　10、代表凭代表证、特邀代表凭特邀代表证、工作人员凭工作证，记者凭记者证，按规定进出住地和会场。<br/>
        　　11、与会人员请将证件佩带在胸前，妥善保管，不得转借。如有遗失，请立即告知会务组。</p>
    </div>
  </div>

</div>
<!--container end-->
