<div class="header">
  <div class="btn-back">返回</div>
  <div class="nav">
    <b></b><b></b><b></b>
  </div>
</div>
<!--header end-->

<div class="container">

  <div class="panelbox">
    <h1>“体验科学 快乐成长”——2019年青少年科学调查体验活动正式启动</h1>
    <div class="news-inf">来源：保卫处     发布时间：2020年03月08日 15:41:15</div>
    <div class="text-details">
      <p>　　5月29日，2019年青少年科学调查体验活动首发式在陕西省西安市举办。中国科协青少年科技中心、教育部基础教育司、中央文明办三局、共青团中央宣传部及陕西省科学技术协会等有关部门单位负责同志出席。来自全国各地的骨干科技教师和西安高新国际学校学生代表共200余人参加。 </p>
      <p><img src="/assets/dataimages/pic_news_de.jpg"/></p>
      <p>　　首发式上，中国科协青少年科技中心副主任张振威代表主办方发布了2019年青少年科学调查体验活动四大主要内容：首次推出在线活动、新增10个推荐活动、强化教师培训效果、完善年度展评。　</p>
    </div>
  </div>

</div>
<!--container end-->
