<div class="header">
  <div class="logo"><img src="/assets/images/logo.png"/></div>
  <div class="nav">
    <b></b><b></b><b></b>
  </div>
</div>
<!--header end-->

<div class="container">

  <div class="menu-slide">
      <ul>
        <li class="active">科普园地</li>
        <li>科技培训</li>
        <li>科技会议</li>
        <li>科技文化</li>
        <li>学术交流</li>
        <li>科普活动</li>
        <li>活动回顾</li>
        <li>活动预告</li>
      </ul>
  </div>
  <!--container end-->

  <div class="list-block-news">
    <ul>
      <li><img src="/assets/dataimages/pic_news.jpg"/>
          <div class="text">
            <h3>11月1-7日第19届“明天小小科学家”奖励活动标题很长很长很长奖励活动标题很长很长很长</h3>
            <p>第17届“明天小小科学家”奖励活动终评于2017年11月7日结束，现将本届活动获奖学生名单公布如下现将本届活动获奖学生名单公布如下。</p>
          </div>
      </li>
      <li><img src="/assets/dataimages/pic_news.jpg"/>
        <div class="text">
          <h3>青少年科学调查体验活动正式启动</h3>
          <p>5月29日，2019年青少年科学调查体验活动首发式在陕西省西安市举办。</p>
        </div>
      </li>
      <li><img src="/assets/dataimages/pic_news.jpg"/>
        <div class="text">
          <h3>第17届“明天小小科学家”奖励活动在京颁奖</h3>
          <p>第17届“明天小小科学家”奖励活动终评于2017年11月7日结束，现将本届活动获奖学生名单公布如下。</p>
        </div>
      </li>
      <li><img src="/assets/dataimages/pic_news.jpg"/>
        <div class="text">
          <h3>青少年科学调查体验活动正式启动</h3>
          <p>5月29日，2019年青少年科学调查体验活动首发式在陕西省西安市举办。</p>
        </div>
      </li>
      <li><img src="/assets/dataimages/pic_news.jpg"/>
        <div class="text">
          <h3>青少年科学调查体验活动正式启动</h3>
          <p>5月29日，2019年青少年科学调查体验活动首发式在陕西省西安市举办。</p>
        </div>
      </li>
    </ul>
  </div>
  <!--list-block-news end-->
</div>
<!--container end-->


<div class="pop-cover" style="display: none"></div>
<div class="nav-list" style="display: none">
    <div class="btn-close">X</div>
    <ul>
      <li class="active">新闻动态 <i></i>
          <ul style="display: block">
            <li>科普园地</li>
            <li>科技培训</li>
            <li>科技会议</li>
            <li>科技文化</li>
            <li>学术交流</li>
            <li>科普活动</li>
            <li>活动回顾</li>
            <li>活动预告</li>
          </ul>
      </li>
      <li>关于我们 <i></i>
        <ul>
          <li>科学馆简介</li>
          <li>研究院简介</li>
        </ul>
      </li>
      <li>场馆列表 <i></i>
        <ul>
          <li>科学会堂</li>
          <li>会议室</li>
          <li>临时展厅</li>
          <li>学士报告厅</li>
          <li>贵宾室</li>
          <li>阶梯教室</li>
          <li>多媒体电脑培训室</li>
        </ul>
      </li>
      <li>会员中心 <i></i>
          <ul>
            <li>申请活动</li>
            <li>单位信息管理</li>
            <li>会场预订记录</li>
            <li>财务结算记录</li>
            <li>发票管理</li>
          </ul>
      </li>
    </ul>
</div>
