.weui-media-box__title {
  color: #a9825e;
  font-size: 0.17rem;
  margin: 0.05rem;
}
.weui-media-box__desc {
  font-size: 0.16rem;
  color: #9a9a9a;
  margin: 0.02rem;
  .money {
    color: #ff6200;
    margin-right: 0.05rem;
    font-size: 0.2rem;
  }
}
